
<div class="vertical-center">
  <div class="markdown-body">
    <div class="col-lg-9 mx-auto mt-5">
      <div class="lp-container">
        <div class="lp-text-container">
          <p><span id="hello-there"></span><br></p>
            <p class="wow fadeInLeft " data-wow-delay="1.20s" ><span class="lp-line2">i'm adrian, also known as <span class="bold-nairdah">nairdah</span>.</span></p>
        </div>
          <div class="lp-image-container">
            <img src="/assets/icon.gif" alt="{{ site.title }}" class="circle-image wow animated zoomIn" data-wow-delay="1.5s" data-tilt data-tilt-speed="800" data-tilt-max="25" data-tilt-reverse="true" data-tilt-scale="1.15">
          </div>
        </div>
      <br><br><br><br>
      <div class="lp-345">
        i sometime take cool pics in video games, you can check my portofolio below<br>

        i also work on some fun projects now and then that you can check out around the site<br>

        and if you want to get to know me better, check out my <a href="/about">about me page</a>.
        <br><br><br> <br><br>
        <a href="/blog" class="img-href">
          <img src="/assets/vp-banner-light.png" alt="Virtual Photography banner" class="vp-banner light-theme-image">
          <img src="/assets/vp-banner-dark.png" alt="Virtual Photography banner" class="vp-banner dark-theme-image">
        </a>
      </div>
     
    </div>
  </div>
</div>

<script src="/assets/js/project-fade-in.js"></script>