#hi-im-adrian {
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    transition: letter-spacing 0.3s ease;
}

#hi-im-adrian:hover {
    letter-spacing: 2px;
  }



#about-content {
    position:relative;
}

#back-button {
    position: absolute;
    top: 6px;
    left: -40px;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    z-index: 1000;
}

#back-button i {
    font-size: 34px;
    color: $text-black ;
    opacity: 25%;

    [data-theme="dark"] & {
        color: $text-white;
        opacity: 25%;
      }
}


#back-button:hover i {
    opacity: 50% ;

    [data-theme="dark"] & {
        opacity: 50%;
      }
}