html {
  padding-left: calc(100vw - 100%);
}

body {
  font-family: "Poppins", sans-serif;
  color: $text-black;
  background-color: $light;
}

.card {
  background-color: $light;
  border: 1px solid #7c7f9363;

}

.badge {
  font-weight: 500;
}

.bg-light,
.badge-light {
  &,
  * {
    color: $text-black !important;
  }
}

.bg-dark,
.badge-dark {
  &,
  * {
    color: $text-white !important;
  }
}
// Define the scrollbar theming using the mixin
@mixin themed-scrollbar($light-thumb, $dark-thumb, $light-track, $dark-track) {
  [data-theme="light"] {
    ::-webkit-scrollbar {
      scrollbar-width: thin;
      width: 8px; /* Set the width of the scrollbar */
      background: $light-track; /* Light mode track color */
    }

    ::-webkit-scrollbar-thumb {
      background: $light-thumb; /* Light mode thumb color */
      border-radius: 10px; /* Make the thumb rounder */
      border: 2px solid $light-track; /* Optional: adds a border that matches the track */
    }

    ::-webkit-scrollbar-thumb:hover {
      background: lighten($light-thumb, 10%); /* Increase brightness on hover */
    }

    scrollbar-color: $light-thumb $light-track; /* For Firefox */
  }

  [data-theme="dark"] {
    ::-webkit-scrollbar {
      width: 8px; /* Set the width of the scrollbar */
      background: $dark-track; /* Dark mode track color */
    }

    ::-webkit-scrollbar-thumb {
      background: $dark-thumb; /* Dark mode thumb color */
      border-radius: 10px; /* Make the thumb rounder */
      border: 2px solid $dark-track; /* Optional: adds a border that matches the track */
    }

    ::-webkit-scrollbar-thumb:hover {
      background: lighten($dark-thumb, 10%); /* Increase brightness on hover */
    }

    scrollbar-color: $dark-thumb $dark-track; /* For Firefox */
  }
}

// Apply the mixin with the desired colors
@include themed-scrollbar(#4c4f69, #bf9ae8, #eff1f5, #1a1a21); // Light thumb, dark thumb, light track, dark track
