.project {
  opacity: 0;

}

.project.card {
  transform-style: preserve-3d;
  transform: perspective(1000px);
  border-radius: $rounded-borders;
  text-decoration: none !important;
  margin: 10px auto;
  background-color: #e6e9ef;

  .card-img-top {
    border-radius: $rounded-borders $rounded-borders 0 0;
  }

  transition: box-shadow 400ms;

  &:hover:not(.post) {
    box-shadow: -2px 8px 40px -12px rgba(0, 0, 0, 0.24);
  }

  .card-body {
    transform-style: preserve-3d;
  }

  .card-title {
  
    transition: transform 100ms;
  }

  .card-text {
    transition: transform 100ms;
  }

  .badge-pill {
    transition: transform 100ms;
  }

  &:hover {
    .card-title {
      transform: translateZ(20px);
    }

    .card-text {
      transform: translateZ(22px);
    }

    .badge-pill {
      transform: translateZ(20px);
    }
  }
}

:root {
  --badge-pill-color: #8839ef;
}

[data-theme='dark'] {
  --badge-pill-color: #cba6f7;
}
  
.badge-pill {
  border-color: var(--badge-pill-color) !important;
}

.text-primary {
  color: var(--badge-pill-color) !important;
}


